
.i_weidth10{width:10%;min-width:100px;}
.i_weidth15{width:15%;min-width:170px;}
.i_weidth20{width:20%;min-width:240px;}
.i_weidth25{width:25%;min-width:300px;}
.i_weidth30{width:30%;min-width:350px;}
.i_weidth40{width:40%;min-width:450px;}
.i_weidth50{width:50%;min-width:550px;}
.i_weidth60{width:60%;min-width:650px;}
.i_weidth70{width:70%;min-width:750px;}


td label{
    display:inline;
}













